html{
    scroll-behavior: smooth;

}
.container{
    width: 90%;
    margin: 0px auto;
    min-height: 100%;
}

.header{
    height: 60px;
    background-color: white;
    box-shadow: 0 0 8px black;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    font-weight: bold;
    z-index: 100;
}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    width: 50%;
}

.menu a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 27px;
}

.menu-link1{
    transition-property: all;
    transition-duration: 0.5s ;
}

.menu-link1:hover{
    box-shadow: inset 0 -3px 0 #879c36;
    transform: scale(1);
}

.menu-link2{
    transition-property: all;
    transition-duration: 0.5s ;
}

.menu-link2:hover{
    box-shadow: inset 0 -3px 0 #879c36;
    transform: scale(1);
}

.menu-link3{
    transition-property: all;
    transition-duration: 0.5s ;
}

.menu-link3:hover{
    box-shadow: inset 0 -3px 0 #879c36;
    transform: scale(1);
}

.section{
    height: 100vh;
    padding-top: 60px;
}

#home{
    background-image: url('./bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#about{
    background-color: #fefefe;
}

#works{
    background-image: url('./bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#contact{
    background-color: #fefefe;
    height: 98vh;
}

a{
    color: black;
}
.logo{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 36px;
}

.logo span{
    color: #879c36;
}

.home-button{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #879c36;
    text-transform: uppercase;
    border: 1px solid #879c36;
    background-color: white;
    margin-top: 85vh;
    padding: 8px 19px;
    display: inline-block;
    transition-property: all;
    transition-duration: 0.7s;
}

.home-button:hover{
    color: beige;
    background-color: #5b662d;
    transform: scale(1);
    border-style: none;
    box-shadow: 3px 3px 0px #8a8f75;

}

.about-picture{
    width: 38%;
    height: 83vh;
    background-image: url('./about1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -190px;
    margin-left: 10px;
    position: absolute;
}

.about-picture::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -15px;
    right: 18px;
    border: 8px double #879c36;
}

.about-info{
    width: 53%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 88vh;
}

.title{
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    line-height: 3;
}

.title span{
    color: #879c36;
}

.text{
    font-size: 16px;
    color: black;
    line-height: 1.5;
}

.about-button{
    font-size: 16px;
    color: #879c36;
    text-transform: uppercase;
    border: 2px solid #879c36;
    line-height: 6;
    background-color: white;
    margin-top: 25px;
    padding: 7px 22px;
    display: inline;
    transition-property: all;
    transition-duration: 0.7s;
}

.about-button:hover{
    color: beige;
    background-color: #5b662d;
    transform: scale(1);
    border-style: none;
    box-shadow: 3px 3px 0px #8a8f75;
}

.photo{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image{
    width: 30%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 6px solid #879c36;
}

.image:nth-child(1){
    background-image: url('./project1.png');
}

.image:nth-child(2){
    background-image: url('./project2.png');
}

.image:nth-child(3){
    background-image: url('./project3.png');
}

.image:nth-child(1)::before{
    content: 'My Project';
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: #fefefe;
    font-weight: bold;
    background-color: #879c36;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: -100%;
    transition-property: all;
    transition-duration: 1.2s;
}

.image:nth-child(1):hover::before{
    left: 0px;
}

.image:nth-child(2)::before{
    content: 'My Project';
    font-family: 'Roboto', sans-serif ;
    font-size: 28px;
    color: #fefefe;
    font-weight: bold;
    background-color: #879c36;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -100%;
    left: 0px;
    transition-property: all;
    transition-duration: 1.2s;
}

.image:nth-child(2):hover::before{
    top: 0px;
}

.image:nth-child(3)::before{
    content: 'My Project';
    font-family: 'Roboto', sans-serif ;
    font-size: 28px;
    color: #fefefe;
    font-weight: bold;
    background-color: #879c36;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: -100%;
    transition-property: all;
    transition-duration: 1.2s;
}

.image:nth-child(3):hover::before{
    right: 0px;
}

.contacts-info{
    font-family: 'Roboto', sans-serif;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    margin-left: 8vh;
}

.contacts-map{
    width: 70%;
    height: 70vh;
    border: 7px solid #879c36;
}

.footer{
    height: 5vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
